In [4]:
import pandas as pd

In [7]:
df = pd.read_csv('./data/mentalHealth.csv',low_memory=False)

In [8]:
print(df.shape)
df.head()

(119088, 89)

,COUNTRYNEW,WPID_RANDOM,WGT,PROJWT,FIELD_DATE,YEAR_WAVE,W1,W2,W3,W4,...,age_var1,age_var2,age_var3,Gender,Education,Household_Income,Global11Regions,wbi,Subjective_Income,EMP_2010
0,United States,178216898,0.803440,211560.29700,10/01/2020,2020,2,1,2,2,...,3,4,4,2,2,5,9,4,2,6
1,United States,159107018,0.729590,192114.26740,10/01/2020,2020,1,1,3,1,...,1,1,1,1,3,4,9,4,1,1
2,United States,203166417,0.848559,223440.98710,10/01/2020,2020,1,1,3,1,...,1,1,2,1,3,4,9,4,1,1
3,United States,201061719,0.341083,89813.41772,10/01/2020,2020,2,1,3,2,...,3,3,4,2,3,4,9,4,2,1
4,United States,195404162,0.995933,262247.16630,10/01/2020,2020,3,1,2,1,...,2,2,3,1,2,2,9,4,4,6

In [12]:
df.columns.value_counts

<bound method IndexOpsMixin.value_counts of Index(['COUNTRYNEW', 'WPID_RANDOM', 'WGT', 'PROJWT', 'FIELD_DATE', 'YEAR_WAVE',
       'W1', 'W2', 'W3', 'W4', 'W5A', 'W5B', 'W5C', 'W5D', 'W5E', 'W5F', 'W5G',
       'W6', 'W7A', 'W7B', 'W7C', 'W8', 'W9', 'W10', 'W11A', 'W11B', 'MH2A',
       'MH2B', 'W13', 'W14', 'W15', 'W15_1A', 'W15_1B', 'W15_1C', 'W15_1D',
       'W15_1E', 'W15_2A', 'W15_2B', 'MH1', 'MH3A', 'MH3B', 'MH3C', 'MH3D',
       'MH4A', 'MH4B', 'MH5', 'MH6', 'MH7A', 'MH7B', 'MH7B_2', 'MH7C', 'MH8A',
       'MH8B', 'MH8C', 'MH8D', 'MH8E', 'MH8F', 'MH8G', 'MH8H', 'MH9A', 'MH9B',
       'MH9C', 'MH9D', 'MH9E', 'MH9F', 'MH9G', 'MH9H', 'W27', 'W28', 'W29',
       'W30', 'WP21757', 'WP21758', 'WP21759', 'WP21760', 'WP21761', 'WP21768',
       'age_mh', 'Age', 'age_var1', 'age_var2', 'age_var3', 'Gender',
       'Education', 'Household_Income', 'Global11Regions', 'wbi',
       'Subjective_Income', 'EMP_2010'],
      dtype='object')>

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119088 entries, 0 to 119087
Data columns (total 89 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   COUNTRYNEW         119088 non-null  object
 1   WPID_RANDOM        119088 non-null  int64
 2   WGT                119088 non-null  float64
 3   PROJWT             119088 non-null  float64
 4   FIELD_DATE         119088 non-null  object
 5   YEAR_WAVE          119088 non-null  int64
 6   W1                 119088 non-null  int64
 7   W2                 119088 non-null  int64
 8   W3                 119088 non-null  object
 9   W4                 119088 non-null  object
 10  W5A                119088 non-null  int64
 11  W5B                119088 non-null  object
 12  W5C                119088 non-null  int64
 13  W5D                119088 non-null  object
 14  W5E                119088 non-null  int64
 15  W5F                119088 non-null  int64
 16  W5G                119088 non-null  int64
 17  W6                 119088 non-null  int64
 18  W7A                119088 non-null  int64
 19  W7B                119088 non-null  int64
 20  W7C                119088 non-null  object
 21  W8                 119088 non-null  int64
 22  W9                 119088 non-null  int64
 23  W10                119088 non-null  int64
 24  W11A               119088 non-null  int64
 25  W11B               119088 non-null  int64
 26  MH2A               119088 non-null  int64
 27  MH2B               119088 non-null  int64
 28  W13                119088 non-null  int64
 29  W14                119088 non-null  object
 30  W15                119088 non-null  object
 31  W15_1A             119088 non-null  object
 32  W15_1B             119088 non-null  object
 33  W15_1C             119088 non-null  object
 34  W15_1D             119088 non-null  object
 35  W15_1E             119088 non-null  object
 36  W15_2A             119088 non-null  object
 37  W15_2B             119088 non-null  object
 38  MH1                119088 non-null  int64
 39  MH3A               119088 non-null  object
 40  MH3B               119088 non-null  object
 41  MH3C               119088 non-null  object
 42  MH3D               119088 non-null  object
 43  MH4A               119088 non-null  object
 44  MH4B               119088 non-null  object
 45  MH5                119088 non-null  object
 46  MH6                119088 non-null  int64
 47  MH7A               119088 non-null  object
 48  MH7B               119088 non-null  object
 49  MH7B_2             119088 non-null  object
 50  MH7C               119088 non-null  object
 51  MH8A               119088 non-null  object
 52  MH8B               119088 non-null  object
 53  MH8C               119088 non-null  object
 54  MH8D               119088 non-null  object
 55  MH8E               119088 non-null  object
 56  MH8F               119088 non-null  object
 57  MH8G               119088 non-null  object
 58  MH8H               119088 non-null  object
 59  MH9A               119088 non-null  object
 60  MH9B               119088 non-null  object
 61  MH9C               119088 non-null  object
 62  MH9D               119088 non-null  object
 63  MH9E               119088 non-null  object
 64  MH9F               119088 non-null  object
 65  MH9G               119088 non-null  object
 66  MH9H               119088 non-null  object
 67  W27                119088 non-null  int64
 68  W28                119088 non-null  object
 69  W29                119088 non-null  object
 70  W30                119088 non-null  object
 71  WP21757            119088 non-null  object
 72  WP21758            119088 non-null  object
 73  WP21759            119088 non-null  object
 74  WP21760            119088 non-null  object
 75  WP21761            119088 non-null  object
 76  WP21768            119088 non-null  object
 77  age_mh             119088 non-null  object
 78  Age                119088 non-null  int64
 79  age_var1           119088 non-null  int64
 80  age_var2           119088 non-null  int64
 81  age_var3           119088 non-null  int64
 82  Gender             119088 non-null  int64
 83  Education          119088 non-null  int64
 84  Household_Income   119088 non-null  object
 85  Global11Regions    119088 non-null  int64
 86  wbi                119088 non-null  int64
 87  Subjective_Income  119088 non-null  int64
 88  EMP_2010           119088 non-null  object
dtypes: float64(2), int64(32), object(55)
memory usage: 80.9+ MB

In [17]:
[x for x in df.columns if df[x].isnull().sum()>=1]
# no null values

[]