In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('./data/mentalHealth.csv',low_memory=False)

In [4]:
print(df.shape)
df.head()

(119088, 89)

,COUNTRYNEW,WPID_RANDOM,WGT,PROJWT,FIELD_DATE,YEAR_WAVE,W1,W2,W3,W4,...,age_var1,age_var2,age_var3,Gender,Education,Household_Income,Global11Regions,wbi,Subjective_Income,EMP_2010
0,United States,178216898,0.803440,211560.29700,10/01/2020,2020,2,1,2,2,...,3,4,4,2,2,5,9,4,2,6
1,United States,159107018,0.729590,192114.26740,10/01/2020,2020,1,1,3,1,...,1,1,1,1,3,4,9,4,1,1
2,United States,203166417,0.848559,223440.98710,10/01/2020,2020,1,1,3,1,...,1,1,2,1,3,4,9,4,1,1
3,United States,201061719,0.341083,89813.41772,10/01/2020,2020,2,1,3,2,...,3,3,4,2,3,4,9,4,2,1
4,United States,195404162,0.995933,262247.16630,10/01/2020,2020,3,1,2,1,...,2,2,3,1,2,2,9,4,4,6

In [5]:
df.columns.value_counts

<bound method IndexOpsMixin.value_counts of Index(['COUNTRYNEW', 'WPID_RANDOM', 'WGT', 'PROJWT', 'FIELD_DATE', 'YEAR_WAVE',
       'W1', 'W2', 'W3', 'W4', 'W5A', 'W5B', 'W5C', 'W5D', 'W5E', 'W5F', 'W5G',
       'W6', 'W7A', 'W7B', 'W7C', 'W8', 'W9', 'W10', 'W11A', 'W11B', 'MH2A',
       'MH2B', 'W13', 'W14', 'W15', 'W15_1A', 'W15_1B', 'W15_1C', 'W15_1D',
       'W15_1E', 'W15_2A', 'W15_2B', 'MH1', 'MH3A', 'MH3B', 'MH3C', 'MH3D',
       'MH4A', 'MH4B', 'MH5', 'MH6', 'MH7A', 'MH7B', 'MH7B_2', 'MH7C', 'MH8A',
       'MH8B', 'MH8C', 'MH8D', 'MH8E', 'MH8F', 'MH8G', 'MH8H', 'MH9A', 'MH9B',
       'MH9C', 'MH9D', 'MH9E', 'MH9F', 'MH9G', 'MH9H', 'W27', 'W28', 'W29',
       'W30', 'WP21757', 'WP21758', 'WP21759', 'WP21760', 'WP21761', 'WP21768',
       'age_mh', 'Age', 'age_var1', 'age_var2', 'age_var3', 'Gender',
       'Education', 'Household_Income', 'Global11Regions', 'wbi',
       'Subjective_Income', 'EMP_2010'],
      dtype='object')>

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119088 entries, 0 to 119087
Data columns (total 89 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   COUNTRYNEW         119088 non-null  object
 1   WPID_RANDOM        119088 non-null  int64
 2   WGT                119088 non-null  float64
 3   PROJWT             119088 non-null  float64
 4   FIELD_DATE         119088 non-null  object
 5   YEAR_WAVE          119088 non-null  int64
 6   W1                 119088 non-null  int64
 7   W2                 119088 non-null  int64
 8   W3                 119088 non-null  object
 9   W4                 119088 non-null  object
 10  W5A                119088 non-null  int64
 11  W5B                119088 non-null  object
 12  W5C                119088 non-null  int64
 13  W5D                119088 non-null  object
 14  W5E                119088 non-null  int64
 15  W5F                119088 non-null  int64
 16  W5G                119088 non-null  int64
 17  W6                 119088 non-null  int64
 18  W7A                119088 non-null  int64
 19  W7B                119088 non-null  int64
 20  W7C                119088 non-null  object
 21  W8                 119088 non-null  int64
 22  W9                 119088 non-null  int64
 23  W10                119088 non-null  int64
 24  W11A               119088 non-null  int64
 25  W11B               119088 non-null  int64
 26  MH2A               119088 non-null  int64
 27  MH2B               119088 non-null  int64
 28  W13                119088 non-null  int64
 29  W14                119088 non-null  object
 30  W15                119088 non-null  object
 31  W15_1A             119088 non-null  object
 32  W15_1B             119088 non-null  object
 33  W15_1C             119088 non-null  object
 34  W15_1D             119088 non-null  object
 35  W15_1E             119088 non-null  object
 36  W15_2A             119088 non-null  object
 37  W15_2B             119088 non-null  object
 38  MH1                119088 non-null  int64
 39  MH3A               119088 non-null  object
 40  MH3B               119088 non-null  object
 41  MH3C               119088 non-null  object
 42  MH3D               119088 non-null  object
 43  MH4A               119088 non-null  object
 44  MH4B               119088 non-null  object
 45  MH5                119088 non-null  object
 46  MH6                119088 non-null  int64
 47  MH7A               119088 non-null  object
 48  MH7B               119088 non-null  object
 49  MH7B_2             119088 non-null  object
 50  MH7C               119088 non-null  object
 51  MH8A               119088 non-null  object
 52  MH8B               119088 non-null  object
 53  MH8C               119088 non-null  object
 54  MH8D               119088 non-null  object
 55  MH8E               119088 non-null  object
 56  MH8F               119088 non-null  object
 57  MH8G               119088 non-null  object
 58  MH8H               119088 non-null  object
 59  MH9A               119088 non-null  object
 60  MH9B               119088 non-null  object
 61  MH9C               119088 non-null  object
 62  MH9D               119088 non-null  object
 63  MH9E               119088 non-null  object
 64  MH9F               119088 non-null  object
 65  MH9G               119088 non-null  object
 66  MH9H               119088 non-null  object
 67  W27                119088 non-null  int64
 68  W28                119088 non-null  object
 69  W29                119088 non-null  object
 70  W30                119088 non-null  object
 71  WP21757            119088 non-null  object
 72  WP21758            119088 non-null  object
 73  WP21759            119088 non-null  object
 74  WP21760            119088 non-null  object
 75  WP21761            119088 non-null  object
 76  WP21768            119088 non-null  object
 77  age_mh             119088 non-null  object
 78  Age                119088 non-null  int64
 79  age_var1           119088 non-null  int64
 80  age_var2           119088 non-null  int64
 81  age_var3           119088 non-null  int64
 82  Gender             119088 non-null  int64
 83  Education          119088 non-null  int64
 84  Household_Income   119088 non-null  object
 85  Global11Regions    119088 non-null  int64
 86  wbi                119088 non-null  int64
 87  Subjective_Income  119088 non-null  int64
 88  EMP_2010           119088 non-null  object
dtypes: float64(2), int64(32), object(55)
memory usage: 80.9+ MB

In [7]:
[x for x in df.columns if df[x].isnull().sum()>=1]
# no null values

[]

In [17]:
# dropping irrevelent features
features_to_drop = list(df.columns)[1:38]
features_to_drop

['WPID_RANDOM',
 'WGT',
 'PROJWT',
 'FIELD_DATE',
 'YEAR_WAVE',
 'W1',
 'W2',
 'W3',
 'W4',
 'W5A',
 'W5B',
 'W5C',
 'W5D',
 'W5E',
 'W5F',
 'W5G',
 'W6',
 'W7A',
 'W7B',
 'W7C',
 'W8',
 'W9',
 'W10',
 'W11A',
 'W11B',
 'MH2A',
 'MH2B',
 'W13',
 'W14',
 'W15',
 'W15_1A',
 'W15_1B',
 'W15_1C',
 'W15_1D',
 'W15_1E',
 'W15_2A',
 'W15_2B']

In [20]:
df.drop(features_to_drop,axis=1,inplace=True)

In [21]:
df.head()

,COUNTRYNEW,MH1,MH3A,MH3B,MH3C,MH3D,MH4A,MH4B,MH5,MH6,...,age_var1,age_var2,age_var3,Gender,Education,Household_Income,Global11Regions,wbi,Subjective_Income,EMP_2010
0,United States,2,2,4,2,4,2,2,2,2,...,3,4,4,2,2,5,9,4,2,6
1,United States,2,1,1,1,1,1,2,2,1,...,1,1,1,1,3,4,9,4,1,1
2,United States,2,1,2,1,2,1,2,2,2,...,1,1,2,1,3,4,9,4,1,1
3,United States,2,1,3,1,3,1,1,2,1,...,3,3,4,2,3,4,9,4,2,1
4,United States,2,1,2,1,2,2,2,2,1,...,2,2,3,1,2,2,9,4,4,6

In [22]:
df.columns

Index(['COUNTRYNEW', 'MH1', 'MH3A', 'MH3B', 'MH3C', 'MH3D', 'MH4A', 'MH4B',
       'MH5', 'MH6', 'MH7A', 'MH7B', 'MH7B_2', 'MH7C', 'MH8A', 'MH8B', 'MH8C',
       'MH8D', 'MH8E', 'MH8F', 'MH8G', 'MH8H', 'MH9A', 'MH9B', 'MH9C', 'MH9D',
       'MH9E', 'MH9F', 'MH9G', 'MH9H', 'W27', 'W28', 'W29', 'W30', 'WP21757',
       'WP21758', 'WP21759', 'WP21760', 'WP21761', 'WP21768', 'age_mh', 'Age',
       'age_var1', 'age_var2', 'age_var3', 'Gender', 'Education',
       'Household_Income', 'Global11Regions', 'wbi', 'Subjective_Income',
       'EMP_2010'],
      dtype='object')

In [26]:
df['WP21757'].value_counts()

1    48147
2    45422
3    17315
      7522
8      401
4      182
9       99
Name: WP21757, dtype: int64

In [28]:
#removing 'mh7b' and 'age_mh' because their info is already present in 'mh7b_2' feature
df.drop(columns=['MH7B','age_mh'],axis=1,inplace=True)

In [29]:
df.columns

Index(['COUNTRYNEW', 'MH1', 'MH3A', 'MH3B', 'MH3C', 'MH3D', 'MH4A', 'MH4B',
       'MH5', 'MH6', 'MH7A', 'MH7B_2', 'MH7C', 'MH8A', 'MH8B', 'MH8C', 'MH8D',
       'MH8E', 'MH8F', 'MH8G', 'MH8H', 'MH9A', 'MH9B', 'MH9C', 'MH9D', 'MH9E',
       'MH9F', 'MH9G', 'MH9H', 'W27', 'W28', 'W29', 'W30', 'WP21757',
       'WP21758', 'WP21759', 'WP21760', 'WP21761', 'WP21768', 'Age',
       'age_var1', 'age_var2', 'age_var3', 'Gender', 'Education',
       'Household_Income', 'Global11Regions', 'wbi', 'Subjective_Income',
       'EMP_2010'],
      dtype='object')

In [30]:
# removing 'W27', 'W28', 'W29', 'W30', 'WP21757','WP21758', 'WP21759', 'WP21760', 'WP21761', 'WP21768'

df.drop(columns=['W27', 'W28', 'W29', 'W30', 'WP21757','WP21758', 'WP21759', 'WP21760', 'WP21761', 'WP21768'],axis=1,inplace=True)

In [31]:
df.columns

Index(['COUNTRYNEW', 'MH1', 'MH3A', 'MH3B', 'MH3C', 'MH3D', 'MH4A', 'MH4B',
       'MH5', 'MH6', 'MH7A', 'MH7B_2', 'MH7C', 'MH8A', 'MH8B', 'MH8C', 'MH8D',
       'MH8E', 'MH8F', 'MH8G', 'MH8H', 'MH9A', 'MH9B', 'MH9C', 'MH9D', 'MH9E',
       'MH9F', 'MH9G', 'MH9H', 'Age', 'age_var1', 'age_var2', 'age_var3',
       'Gender', 'Education', 'Household_Income', 'Global11Regions', 'wbi',
       'Subjective_Income', 'EMP_2010'],
      dtype='object')

In [33]:
# removing 'Age', age_var1, 'age_var3' as 'age_var2' is sufficient
df.drop(columns=['Age', 'age_var1','age_var3'],axis=1,inplace=True)

In [34]:
df.columns

Index(['COUNTRYNEW', 'MH1', 'MH3A', 'MH3B', 'MH3C', 'MH3D', 'MH4A', 'MH4B',
       'MH5', 'MH6', 'MH7A', 'MH7B_2', 'MH7C', 'MH8A', 'MH8B', 'MH8C', 'MH8D',
       'MH8E', 'MH8F', 'MH8G', 'MH8H', 'MH9A', 'MH9B', 'MH9C', 'MH9D', 'MH9E',
       'MH9F', 'MH9G', 'MH9H', 'age_var2', 'Gender', 'Education',
       'Household_Income', 'Global11Regions', 'wbi', 'Subjective_Income',
       'EMP_2010'],
      dtype='object')

In [35]:
#removing 'Global11Regions', 'wbi' as they are irrelevant
df.drop(columns=['Global11Regions', 'wbi'],axis=1,inplace=True)

In [37]:
df.shape

(119088, 35)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119088 entries, 0 to 119087
Data columns (total 35 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   COUNTRYNEW         119088 non-null  object
 1   MH1                119088 non-null  int64
 2   MH3A               119088 non-null  object
 3   MH3B               119088 non-null  object
 4   MH3C               119088 non-null  object
 5   MH3D               119088 non-null  object
 6   MH4A               119088 non-null  object
 7   MH4B               119088 non-null  object
 8   MH5                119088 non-null  object
 9   MH6                119088 non-null  int64
 10  MH7A               119088 non-null  object
 11  MH7B_2             119088 non-null  object
 12  MH7C               119088 non-null  object
 13  MH8A               119088 non-null  object
 14  MH8B               119088 non-null  object
 15  MH8C               119088 non-null  object
 16  MH8D               119088 non-null  object
 17  MH8E               119088 non-null  object
 18  MH8F               119088 non-null  object
 19  MH8G               119088 non-null  object
 20  MH8H               119088 non-null  object
 21  MH9A               119088 non-null  object
 22  MH9B               119088 non-null  object
 23  MH9C               119088 non-null  object
 24  MH9D               119088 non-null  object
 25  MH9E               119088 non-null  object
 26  MH9F               119088 non-null  object
 27  MH9G               119088 non-null  object
 28  MH9H               119088 non-null  object
 29  age_var2           119088 non-null  int64
 30  Gender             119088 non-null  int64
 31  Education          119088 non-null  int64
 32  Household_Income   119088 non-null  object
 33  Subjective_Income  119088 non-null  int64
 34  EMP_2010           119088 non-null  object
dtypes: int64(6), object(29)
memory usage: 31.8+ MB

In [56]:
df['MH5'].value_counts().index

Index(['2', '3', '1', '99', ' '], dtype='object')

In [55]:
df['MH5'].value_counts().values

array([47703, 35815, 26919,  7651,  1000])

In [63]:
df[df['MH8B']==' ']['COUNTRYNEW'].value_counts()

China           3235
India           2300
Russia          1489
Saudi Arabia    1013
Tajikistan      1000
                ...
Bolivia          652
Nicaragua        648
Ecuador          608
Zambia           602
Peru             558
Name: COUNTRYNEW, Length: 113, dtype: int64

In [65]:
df['MH8B'].value_counts().index

Index([' ', '2', '1', '99'], dtype='object')

In [66]:
df['MH8B'].value_counts().values

array([95412, 13303, 10246,   127])

In [69]:
print(df['MH6'].value_counts().index)
print(df['MH6'].value_counts().values)

Int64Index([2, 1, 99], dtype='int64')
[69635 46197  3256]

In [71]:
# problem - there are lots of spaces present in multiple features
for x in df.columns:
    print(x)
    print(df[x].value_counts().index)
    print(df[x].value_counts().values)
    print('\n')

COUNTRYNEW
Index(['China', 'India', 'Russia', 'Israel', 'Lebanon', 'Uganda', 'Montenegro',
       'Senegal', 'Indonesia', 'Chile',
       ...
       'Vietnam', 'Dominican Republic', 'Ecuador', 'El Salvador',
       'Philippines', 'Finland', 'Ghana', 'Tanzania', 'Ireland', 'Kazakhstan'],
      dtype='object', length=113)
[3502 3045 2002 1063 1035 1027 1027 1025 1023 1021 1020 1019 1013 1013
 1012 1012 1012 1011 1011 1010 1009 1009 1009 1009 1007 1007 1007 1007
 1006 1006 1006 1006 1005 1005 1005 1005 1005 1005 1005 1004 1004 1004
 1004 1004 1004 1004 1003 1003 1002 1002 1002 1002 1002 1002 1002 1002
 1002 1002 1001 1001 1001 1001 1001 1001 1001 1001 1000 1000 1000 1000
 1000 1000 1000 1000 1000 1000 1000 1000 1000 1000 1000 1000 1000 1000
 1000 1000 1000 1000 1000 1000 1000 1000 1000 1000 1000 1000 1000 1000
 1000 1000 1000 1000 1000 1000 1000 1000 1000 1000 1000 1000 1000 1000
 1000]


MH1
Int64Index([2, 1, 3, 99], dtype='int64')
[60003 53180  4240  1665]


MH3A
Index(['1', '2', '3', '4', '99', ' '], dtype='object')
[62121 37160 10912  4321  3574  1000]


MH3B
Index(['2', '1', '3', '4', '99', ' '], dtype='object')
[47472 38088 19183  7973  5372  1000]


MH3C
Index(['1', '2', '3', '99', '4', ' '], dtype='object')
[65583 31694  9623  6210  4978  1000]


MH3D
Index(['2', '1', '3', '4', '99', ' '], dtype='object')
[42792 38280 20690 10695  5631  1000]


MH4A
Index(['1', '2', '3', '99', ' ', '4'], dtype='object')
[89796 20332  2972  2143  2013  1832]


MH4B
Index(['1', '2', '3', '4', '99', ' '], dtype='object')
[66898 34639  8198  3963  3377  2013]


MH5
Index(['2', '3', '1', '99', ' '], dtype='object')
[47703 35815 26919  7651  1000]


MH6
Int64Index([2, 1, 99], dtype='int64')
[69635 46197  3256]


MH7A
Index(['2', '1', '99', ' '], dtype='object')
[92839 23971  1278  1000]


MH7B_2
Index([' ', '99', '3', '2', '4', '5', '1'], dtype='object')
[117961    307    274    225    127    123     71]


MH7C
Index([' ', '1', '2', '99'], dtype='object')
[95117 17445  6315   211]


MH8A
Index([' ', '2', '1', '99'], dtype='object')
[95117 13581 10285   105]


MH8B
Index([' ', '2', '1', '99'], dtype='object')
[95412 13303 10246   127]


MH8C
Index([' ', '1', '2', '99'], dtype='object')
[95117 19104  4789    78]


MH8D
Index([' ', '2', '1', '99'], dtype='object')
[95117 12691 11191    89]


MH8E
Index([' ', '1', '2', '99'], dtype='object')
[95117 17430  6393   148]


MH8F
Index([' ', '1', '2', '99'], dtype='object')
[95117 12252 11456   263]


MH8G
Index([' ', '1', '2', '99'], dtype='object')
[95117 14970  8730   271]


MH8H
Index([' ', '1', '2', '99'], dtype='object')
[95117 17653  6204   114]


MH9A
Index([' ', '1', '2', '3', '99'], dtype='object')
[108834   6456   2933    748    117]


MH9B
Index([' ', '1', '2', '3', '99'], dtype='object')
[108906   6776   2789    532     85]


MH9C
Index([' ', '1', '2', '3', '99'], dtype='object')
[100289  12395   5478    831     95]


MH9D
Index([' ', '1', '2', '3', '99'], dtype='object')
[107957   6254   3703   1064    110]


MH9E
Index([' ', '1', '2', '3', '99'], dtype='object')
[101787  12278   4360    561    102]


MH9F
Index([' ', '1', '2', '3', '99'], dtype='object')
[106877   7320   3734    991    166]


MH9G
Index([' ', '1', '2', '3', '99'], dtype='object')
[104221   9157   4624    918    168]


MH9H
Index([' ', '1', '2', '3', '99'], dtype='object')
[101604  12730   4159    518     77]


age_var2
Int64Index([2, 1, 3, 4, 99], dtype='int64')
[45349 40033 20244 12831   631]


Gender
Int64Index([1, 2], dtype='int64')
[60722 58366]


Education
Int64Index([2, 3, 1, 99], dtype='int64')
[65111 37407 15825   745]


Household_Income
Index(['5', '4', '3', '2', '1', ' '], dtype='object')
[32155 25782 22571 19790 17790  1000]


Subjective_Income
Int64Index([2, 1, 3, 4, 5, 6], dtype='int64')
[48684 31301 23127 13976  1107   893]


EMP_2010
Index(['1', '6', '2', '5', '4', '3', ' '], dtype='object')
[42866 35287 15588  9907  8178  7252    10]