In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/processed/processed_data2.csv')

In [3]:
print(df.shape)
df.head()

(291, 35)

,gender,age,education,marital,income,loan,friend_no,friend_help,friend_interact,share_feel,...,thoughts_command,self_harm,thoughts_acted,thoughts_acted2,thoughts_time,voices,harming_others,suicide,suicidal_thoughts,therapy
0,Female,20-26,University,single,<10,no,none,maybe,0,idk,...,maybe,yes,yes,yes,night,yes,no,yes,no,no
1,Male,20-26,University,married,<10,no,3+,yes,1,yes,...,yes,no,yes,yes,night,no,no,no,no,no
2,Female,13-19,College,single,<10,no,1,yes,1,no,...,yes,no,yes,yes,Afternoon,no,no,no,no,yes
3,Female,13-19,College,single,<10,no,1,no,0,maybe,...,maybe,yes,yes,yes,night,no,no,yes,no,no
4,Female,20-26,University,single,<10,no,3+,yes,3,yes,...,yes,yes,yes,no,evening,yes,no,yes,yes,yes

In [4]:
#no null values remaining
[x for x in df.columns if df[x].isnull().sum()>0]

[]

In [5]:
df.columns

Index(['gender', 'age', 'education', 'marital', 'income', 'loan', 'friend_no',
       'friend_help', 'friend_interact', 'share_feel', 'have_someone',
       'lonely', 'bullied', 'family_support', 'compare_life', 'social_media',
       'hangout', 'home_time', 'religious', 'goal', 'suicidal',
       'sleep_disorder', 'mental_disorder', 'love_someone', 'die_someone',
       'thoughts_command', 'self_harm', 'thoughts_acted', 'thoughts_acted2',
       'thoughts_time', 'voices', 'harming_others', 'suicide',
       'suicidal_thoughts', 'therapy'],
      dtype='object')

In [6]:
df['mental_disorder'].value_counts()

depression      153
stress           49
anxiety          43
None             30
Panic attack     16
Name: mental_disorder, dtype: int64

In [7]:
from pycaret.classification import *

- setup(df, target = 'mental_disorder') : max = 64
- setup(df, target = 'mental_disorder',feature_selection = True) : max = 58

In [8]:
group_names = []

In [9]:
s = setup(df, target = 'mental_disorder')

In [10]:
best = compare_models()

In [11]:
type(best)

sklearn.ensemble._forest.RandomForestClassifier

In [12]:
best

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=-1, oob_score=False, random_state=759, verbose=0,
                       warm_start=False)

In [13]:
lr = create_model("lr")

In [14]:
tuned_lr = tune_model(lr,choose_better=True)